h1{
    color: #A4A400;
    background-color: #F0F0F0;
}
body {
    font-family: sans-serif;
    font-size: 11pt;
    background-image:url("../image/silverware.jpg");
}
.comment {
    background-color: #ffffa8;
    font-style: italic;
}
#copy{
    text-align: right;
}
#link {
    color: #e5d565;
    text-decoration: underline;
}
.copyright{
    width: max-content;
}