body{
    padding: 0;
    margin: 0;
}
#h {
    background-color: #add8e6;
    text-align: center;
    padding: 10px;
}

#f {
    clear: left;
    background-color: #2f4f4f;
    color: white;
    text-align: center;
    padding: 10px;
}

.menu {
    background-color: #2f4f4f;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 5px;
}
.column{
    padding: 0px;
    margin: 0px;
}
#p1 {
    background-color: #aaaaaa;
    float: left;
    padding: 5px;
    margin: 0;
    width: 32.5%;
    height: 100px;
}

#p2 {
    background-color: #bbbbbb;
    float: left;
    padding: 5px;
    margin: 0;
    width: 32.5%;
    height: 100px;
}

#p3 {
    background-color: #cccccc;
    float: left;
    padding: 5px;
    margin: 0;
    width: 32.5px;
    height: 100px;
}