#header{
    background-color: #add8e6;
    text-align: center;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
    width: 100%;
}
#n{
    height: 50px;
    background-color:#2f4f4f;
}
.m{
    float: left;
    color: white;
    text-align: center;
    width: 150px;
    padding-top: 10px;
}
#c{
    height: 200px;

}
#c1{
    height: 200px;
    width: 33%;
    padding-left: 5px;
    float: left;
    background-color: gray;
}
#c2{
    width: 33%;
    height: 200px;
    padding-left: 5px;
    float: left;
    background-color: rgb(180, 179, 179);
}
#c3{
    width:33%;
    height: 200px;
    padding-left: 5px;
    float: left;
    background-color: rgb(243, 237, 237);
}
#footer{
    width: 100%;
    background-color: #2f4f4f;
    text-align: center;
    color: white;
    height: 50px;
    font-size: 20px;
}