body{
    background-image: url(image/background.png);
    margin: 0px;
	padding: 0px;
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;

}
#container {
    width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid gray;
	border-radius: 20px;
	overflow: hidden;
}

#banner{
    background-image: url(image/banner.png);
    background-repeat: repeat-x;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
}
#title{
    text-align: center;
	font-size: 24pt;
	font-weight: bold;
	font-family: Tahoma, Verdana, sans-serif;
	text-shadow: 3px 3px #999999;
}
#score{
    background-image: url(image/rbg.png);
    height: 83px;
	font-size: 48pt;
	font-weight: bold;
	color: red;
	margin-top: auto;
	margin-bottom: auto;
}
#right{
    width: 250px;
	float: left;
	background-color: #A2B964;
}
#left{
	width: 550px;
	float: left;
}
#footer{
	clear: left;
	background-color: #A2B964;
	text-align: center;
}
.column {
	float: left;
	width: 50%;
}
.review {
	font-size: 8pt;
	font-weight: bold;
	background-color: #E8DC9B;
	border: 2px solid gray;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 8px;
	margin: 8px;
	overflow: auto;
}

.review img {
	float: left;
	padding-right: 5px;
}
.reviewer {
	padding-bottom: 20pt;
	font-style: italic;
	padding-left: 10px;
}

.reviewer img {
	float: left;
	padding-right: 5px;
}
#validator{
	position:fixed;
	bottom: 0px;
	right: 0px;
	opacity: 0.5;
}